{
    "extends": ["react-app", "plugin:prettier/recommended", "plugin:react-hooks"],
    "rules": {
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "warn"
    }
}
